* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
}

body {
  background: linear-gradient(45deg, #3f3f3f, #000000);
  background-repeat: no-repeat;
  height: auto;
}

.banner {
  height: 300px;
  width: 100%;
  background-image: url(./images/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  place-items: center;
  justify-content: flex-end;
}

.banner h1 {
  color: rgba(255, 255, 255, 0.856);
  font-size: 6rem;
  width: 50%;
  position: relative;
  color: white;
}

.banner h1::after {
  content: "LIBROS";
  position: absolute;
  inset: 0;
  animation: banner-animate 10s infinite;
}

@keyframes banner-animate {
  0%,
  50%,
  100% {
    color: white;
  }
  25% {
    color: rgb(79, 214, 252);
  }
  75% {
    color: rgb(229, 114, 250);
  }
}

.titles {
  color: #c49d5f;
  width: 100%;
  height: 250px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
}

.titles h2 {
  font-size: 2.5rem;
  text-align: center;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.5rem;
}

.books-main-container {
  color: wheat;
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  margin: 0 1rem;
  text-align: center;
}

.finded-books {
  width: 65%;
}

.finded-books h3,
.reading-list h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.available-book-container,
.reading-list-container {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid wheat;
}

.reading-list {
  width: 35%;
}

.cover img {
  border-radius: 10px;
}
.hidden{
    display: none;
}
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-87deg);
}

.book-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.book-card-info h5 span, .book-card-info h6 span{
  font-weight: 500;
}
.book-card-info p {
  text-align: start;
  line-height: 1.2;
}
.book-card-info-btns button {
  margin: 0.4rem 0 0 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  border: 1px rgb(178, 160, 126) solid;
  transition: transform ease 0.15s;
}

.book-card-info-btns button:hover {
  background-color: wheat;
  transform: scale(1.05);
}

select {
  padding: 0.5rem;
  background-color: rgb(41, 41, 41);
  color: white;
  position: relative;
  border: none;
  border-bottom: 1px solid white;
  width: 300px;
}

footer {
  height: 4rem;
  background-color: black;
  color: white;
  display: grid;
  place-content: center;
}
